<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Product Id="*" Name="CalculatorInstaller" Language="1033" Version="1.0.0.0" Manufacturer="Yaser Haidari" UpgradeCode="179a63ea-e3f0-4f10-b0c6-c5160360ea96">
		<Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" />

		<MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
		<MediaTemplate EmbedCab="yes" />

		<Feature Id="ProductFeature" Title="CalculatorInstaller" Level="1">
			<ComponentGroupRef Id="ProductComponents" />
		</Feature>
	</Product>

	<Fragment>
		<Directory Id="TARGETDIR" Name="SourceDir">
			<Directory Id="ProgramFilesFolder">
				<Directory Id="INSTALLFOLDER" Name="CalculatorInstaller" />
			</Directory>
			<Directory Id="ProgramMenuFolder">
				<Directory Id="ApplicationProgramsFolder" Name="CalculatorInstaller" />
			</Directory>
		</Directory>
	</Fragment>

	<Fragment>
		<ComponentGroup Id="ProductComponents" Directory="INSTALLFOLDER">
			<ComponentRef Id="Calculator.exe" />
			<ComponentRef Id="Multiplication.dll" />
			<ComponentRef Id="Subtraction.dll" />
			<ComponentRef Id="ApplicationShortcut" />
		</ComponentGroup>
	</Fragment>

	<Fragment>
		<Component Id="Calculator.exe" Guid="AF54AEE9-CBB5-4313-9526-AC9230D119F4" Directory="INSTALLFOLDER">
			<File Id="Calculator.exe" Name="Calculator.exe" Source="$(var.Calculator.TargetDir)Calculator.exe" />
		</Component>
	</Fragment>

	<Fragment>
		<Component Id="Multiplication.dll" Guid="2137B8E9-A84B-46FE-AA83-56D6832381F2" Directory="INSTALLFOLDER">
			<File Id="Multiplication.dll" Name="Multiplication.dll" Source="$(var.Calculator.TargetDir)Multiplication.dll" />
		</Component>
	</Fragment>

	<Fragment>
		<Component Id="Subtraction.dll" Guid="20ACA93D-8D80-4445-B769-AA86888864BC" Directory="INSTALLFOLDER">
			<File Id="Subtraction.dll" Name="Subtraction.dll" Source="$(var.Calculator.TargetDir)Subtraction.dll" />
		</Component>
	</Fragment>

	<Fragment>
		<Component Id="ApplicationShortcut" Guid="5947CE9E-DA77-4AAA-9F54-AA1A9991324E" Directory="ApplicationProgramsFolder">
			<Shortcut Id="startMenuShortcut"
					  Name="Calculator"
					  Description="Calculator Application"
					  Target="[INSTALLFOLDER]Calculator.exe"
					  WorkingDirectory="INSTALLFOLDER"/>
			<RemoveFolder Id="ApplicationProgramsFolder" On="uninstall"/>
			<RegistryValue Root="HKCU" Key="Software\CalculatorInstaller" Name="installed" Type="integer" Value="1" KeyPath="yes"/>
		</Component>
	</Fragment>
</Wix>
